/WebApp/bin
/WebApp/obj
/MyClass/bin
/MyClass/obj
*.suo
*.user
*.sln.docstates
Version.cs
Version.h
Version.cpp

[Dd]ebug/
[Rr]elease/

*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc
*.psess
*.vsp
*.vspx
*.build.csdef
packages/
*.dbmdl

UpgradeLog*.XML
UpgradeLog*.htm
App_Data/*.mdf
App_Data/*.ldf
Desktop.ini
