@model WebApp.Models.Entities.LuyenCode

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<link href="~/Public/css/LuyenCodeAdmin.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card font container">
            <div class="card-header can_giua">
                <div class="row">
                    <div class="">
                        <strong>DANH SÁCH BÀI LUYỆN TẬP</strong>
                    </div>

                </div>
            </div>
            <button class="btn btn-success mg-tb" id="btnAdd" style="width:10.3em">
                Thêm bài tập
            </button>
            <table>
                <thead>
                    <tr class="mau_cho_cot ">
                        <th class="pd-l">Tên bài tập</th>
                        <th>Yêu thích</th>
                        <th>Ngôn ngữ</th>
                        <th>Cấp độ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="BT" class="font chieu_cao_dong ">
                </tbody>
            </table>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

@*      THÊM MỚI BÀI TẬP   ---   CHỈNH SỬA        *@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modalBT" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="panel panel-primary font ">
                    <div class="panel-heading can_giua" id="modalTitle"></div>
                    <div class="panel-body pd-lr">
                        <input type="text" hidden id="IDBT" value=""/>
                        <div class="form-group">
                            <label>Tên bài tập</label>
                            <input type="text" class="form-control" id="TenLuyenTap" placeholder="Tên bài tập">
                        </div>
                        <div class="form-group">
                            <label>Yêu thích</label>
                            <input type="text" class="form-control" id="YeuThich" placeholder="Số lượng yêu thích">
                        </div>

                        <div class="form-group cung-dong">
                            <label class="pd-r">Ngôn ngữ</label>
                            <select id="NgonNgu">
                                <option value="0">C/C++</option>
                                <option value="1">C#</option>
                                <option value="2">Java</option>
                            </select>
                        </div>
                        <div class="form-group mg-l-30 cung-dong">
                            <label class="pd-r">Cấp độ</label>
                            <select id="CapDo">
                                <option value="0">Dễ</option>
                                <option value="1">Trung bình</option>
                                <option value="2">Khó</option>
                                <option value="3">Siêu khó</option>
                            </select>
                        </div>
                        <div class="form-group mg-l-30 cung-dong">
                            <label class="pd-r">Điểm</label>
                            <input type="text" class="form-control" id="Diem" placeholder="Điểm tối đa" style=" border: 1px solid #000000; border-radius: 1px">
                        </div>
                        <div class="form-group">
                            <label>Đề bài</label>
                            <input type="text" class="form-control" id="DeBai" placeholder="Nội dung">
                        </div>
                        <div class="form-group">
                            <label>Yêu cầu đầu vào</label>
                            <input type="text" class="form-control" id="YeuCau" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Đầu vào</label>
                            <input type="text" class="form-control" id="Dvao" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Đầu ra</label>
                            <input type="text" class="form-control" id="Dra" placeholder="">
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-6">
                                <label>Ví dụ đầu vào</label>
                                <input type="text" class="form-control" id="Vdv" placeholder="0">
                            </div>
                            <div class="form-group  col-md-6">
                                <label>Ví dụ đầu ra</label>
                                <input type="text" class="form-control" id="Vdr" placeholder="0">
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSubmit">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}



@section scripts {

    <script>
        $(document).ready(function () {
            TaiDsBaiLuyen();
        })


        //      XÓA BÀI TẬP 
        $(document).on('click', "button[name='delete']", function () {
            let IDBT = $(this).closest('tr').attr('id');
            var thong_bao = "Hãy nhấn OK để xác nhận xóa bài tập này!"
            if (confirm(thong_bao)) {
                // true
                $.ajax({
                    url: '/LuyenCodeAdmin/Xoa',
                    type: 'delete',
                    data: {
                        id: IDBT
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            TaiDsBaiLuyen();
                        } else {
                            alert(data.msg);
                        }
                    }
                })
            }
        });


        // CHINH SUA CHI TIET BAI TAP 

        $(document).on('click', "button[name='edit']", function () {
            $('#modalTitle').text('Chỉnh sửa thông tin bài tập');


            let IDBT = $(this).closest('tr').attr('id');

                $.ajax({
                    url: '/LuyenCodeAdmin/EditCTBT',
                    type: 'get',
                    data: {
                        id: IDBT
                    },
                    //    LẤY DỮ LIỆU 
                    success: function (data) {
                        if (data.code == 200) {
                            // Nếu lấy dữ liệu thành công thì gán
                            $('#DeBai').val(data.L.DeBai);
                            $('#YeuCau').val(data.L.YeuCauDauVao);
                            $('#Dvao').val(data.L.DauVao);
                            $('#Dra').val(data.L.DauRa);
                            $('#Vdv').val(data.L.ViduVao);
                            $('#Vdr').val(data.L.ViduRa);
                            $('#Diem').val(data.L.Diem);

                            // gán giá trị cho nút button
                            //$('#IDBT').val(IDBT);

                            //$('#modalBT').modal();
                            // ẩn button xác nhận
                            //$('#btnSubmit').show();


                        } else {
                            alert(data.msg);
                        }
                    }
                })

            // BAI TAP
            $.ajax({
                url: '/LuyenCodeAdmin/Edit',
                type: 'get',
                data: {
                    id: IDBT
                },

                //    LƯU DỮ LIỆU 
                success: function (data) {
                    if (data.code == 200) {
                        // Nếu lấy dữ liệu thành công thì gán
                        $('#TenLuyenTap').val(data.L.TenLuyenTap);
                        $('#YeuThich').val(data.L.YeuThich);

                        // gán giá trị cho nút button
                        $('#IDBT').val(IDBT);

                        // Ẩn form chỉnh sửa
                        $('#modalBT').modal();
                        // ẩn button xác nhận
                        //$('#btnSubmit').show();


                    } else {
                        alert(data.msg);
                    }
                }
            })
        });





        //  THÊM_SỬA BÀI TẬP MỚI

        $('#btnSubmit').click(function () {

            let TenLuyenTap = $('#TenLuyenTap').val();
            let YeuThich = $('#YeuThich').val().trim();
            let NgonNgu = $('#NgonNgu').val().trim();
            let CapDo = $('#CapDo').val().trim();

            let DeBai = $('#DeBai').val().trim();
            let YeuCau = $('#YeuCau').val().trim();
            let Dvao = $('#Dvao').val().trim();
            let Dra = $('#Dra').val().trim();
            let Vdv = $('#Vdv').val().trim();
            let Vdr = $('#Vdr').val().trim();
            let Diem = $('#Diem').val().trim();

    

            //      KIỂM TRA HÀNH ĐỘNG THÊM - SỬA
            let idBaiTap = $('#IDBT').val().trim();

            if (idBaiTap.length == 0) {
                if (TenLuyenTap.length == 0 || YeuThich.length == 0 || NgonNgu.length == 0 || CapDo.length == 0) {
                    alert('Vui lòng điền đây đủ nội dung!');
                    return;
                }
                // thêm mới bài tập
                $.ajax({
                    url: '/LuyenCodeAdmin/AddBT',
                    type: 'post',
                    data: {

                        tenBT: TenLuyenTap,
                        yeuThich: YeuThich,
                        ngonNgu: NgonNgu,
                        doKho: CapDo
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            TaiDsBaiLuyen();
                            $('#TenLuyenTap').val('');
                            $('#YeuThich').val('');
                        } else {
                            alert(data.msg);
                        }
                    }
                })


                //   Thêm mới Chi Tiết Bài Tập
                $.ajax({
                    url: '/LuyenCodeAdmin/AddCTBT',
                    type: 'post',
                    data: {
                        tenDB: DeBai,
                        yeuCau: YeuCau,
                        dauVao: Dvao,
                        dauRa: Dra,
                        viDuVao: Vdv,
                        viDuRa: Vdr,
                        diem: Diem,
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            TaiDsBaiLuyen();

                            $('#DeBai').val('');
                            $('#YeuCau').val('');
                            $('#Dvao').val('');
                            $('#Dra').val('');
                            $('#Vdv').val('');
                            $('#Vdr').val('');
                            $('#Diem').val('');

                        } else {
                            alert(data.msg);
                        }
                    }
                })

            } else {

                // Cập nhập Bài Tập đã tồn tại
                $.ajax({
                    url: '/LuyenCodeAdmin/CapNhap',
                    type: 'post',
                    data: {
                        id: idBaiTap,
                        TenLuyenTap: TenLuyenTap,
                        yeuThich: YeuThich,
                        ngonNgu: NgonNgu,
                        doKho: CapDo
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            // Cập nhập thành công
                            alert(data.msg);
                            //alert(data.msg);
                         //   $('#modalBT').modal('hide');
                         //   TaiDsBaiLuyen();
                            //$('#TenLuyenTap').val('');
                            //$('#YeuThich').val('');
                        } else {
                            alert(data.msg);
                        }
                    }
                })

                $.ajax({
                    url: '/LuyenCodeAdmin/CapNhapCTBT',
                    type: 'post',
                    data: {
                        id: idBaiTap,
                        DeBai: DeBai,
                        YeuCau: YeuCau,
                        DauVao: Dvao,
                        DauRa: Dra,
                        ViduVao: Vdv,
                        ViduRa: Vdr,
                        Diem: Diem
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            // Cập nhập CTBT thành công
                         //   alert(data.msg);
                            //alert(data.msg);
                            $('#modalBT').modal('hide');
                            TaiDsBaiLuyen();
                            //$('#TenLuyenTap').val('');
                            //$('#YeuThich').val('');
                        } else {
                            alert(data.msg);
                        }
                    }
                })

            }
          
        });


     // Gọi BUTTON THÊM BÀI TẬP

        $('#btnAdd').click(function () {
            $('#modalTitle').text('Thêm bài tập vào danh sách luyện code');

            $('#IDBT').val('');

            $('#modalBT').modal();

            // Them moi cho gia trị = null
            $('#TenLuyenTap').val('');
            $('#YeuThich').val('');
            $('#DeBai').val('');
            $('#YeuCau').val('');
            $('#Dvao').val('');
            $('#Dra').val('');
            $('#Vdv').val('');
            $('#Vdr').val('');
            $('#Diem').val('');
        })


        // LOAD DANH SACH
        function TaiDsBaiLuyen() {
            $.ajax({
                url: '/LuyenCodeAdmin/DsBT',
                type: 'get',
                success: function (data) {
                    //    load lại không chèn cũ;
                    $('#BT').empty();

                    if (data.code == 200) {
                        $.each(data.ds, function (k, v) {

                            let tr = '<tr class="dong-phan-cach" id="' + v.Id + '">'
                            tr += '<td class="pd-l">' + v.TenLuyenTap + '</td>';
                            tr += '<td>' + v.YeuThich + '</td>';
                            tr += '<td>' + v.NgonNgu + '</td>';
                            tr += '<td>' + v.CapDo + '</td>';
                            tr += '<td>';

                            tr += '<button class = "btn btn-warning mg-lr float-end" name="edit">' + 'Chỉnh sửa chi tiết' + '</button>';
                            tr += '<button class = "btn btn-danger float-end" name="delete">' + 'Xóa' + '</button>';

                            tr += '</td>';
                            tr += '</td>';
                            $('#BT').append(tr);

                        })
                    }
                }
            })
        }


    </script>


}





