
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Public/css/_Layout.css" rel="stylesheet" />


<div class="d-flex flex-wrap justify-content-around " style="margin-top: 3rem">
    <div class="card home-product-item" style="width: 18rem;">
        <div class="course-thumb">
            <a href="#">
                <img src="https://xuanthulab.net/photo/netcore-4458.png" class="card-img-top" alt="...">
            </a>
            <div class="cl-badge hot">
                <span>Hot</span>
            </div>
        </div>
        <div class="card-body ">
            <div class="view-content-header text-end">
                <span class="course-type online">
                    Miễn phí
                </span>
            </div>
            <h5 class="card-title">C# Cơ bản</h5>
            <p class="card-text" style="height:72px">Lập trình ứng dụng đa nền tảng .NET CORE 3.0 với C#</p>
            <a href="#" class="btn btn-primary ">C# NET CORE</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/androidjava-4455.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lập trình Android (Java)</h5>
            <p class="card-text" style="height:72px">Xây dựng ứng dụng Android với ngôn ngữ lập trình Java bằng Android Studio</p>
            <a href="#" class="btn btn-primary">Android - Java</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/html-4465.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">HTML - Cơ bản</h5>
            <p class="card-text" style="height:72px" >Viết mã HTML tạo các trang web</p>
            <a href="#" class="btn btn-primary">HTML</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/css-4464.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">CSS</h5>
            <p class="card-text" style="height:72px">Cascading Style Sheets - định nghĩa kiểu hiện thị cho các phần tử HTML</p>
            <a href="#" class="btn btn-primary">CSS</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/java-4466.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lập trình Java</h5>
            <p class="card-text" style="height:72px">Ngôn ngữ lập trình Java cơ bản</p>
            <a href="#" class="btn btn-primary">Java</a>
        </div>
    </div>






</div>




<div class="card" aria-hidden="true">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
    </div>
</div>

