
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Public/css/_Layout.css" rel="stylesheet" />

<div class="p-4 p-md-5 mb-4  text-bg-dark" style="background-image: url(https://codesandbox.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fimage.4a712740.png&w=3840&q=75);min-height: 260px; ">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Học lập trình không khó</h1>
        <p class="lead my-3">Bắt đầu học và viết mã ngay hôm nay. Các khoá học và hoạt động của chúng tôi là miễn phí!</p>

    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                
                <h3 class="mb-0">Người tạo JavaScript: Brendan Eich</h3>
                <p class="card-text mb-auto">Brendon Eich là lập trình viên người Mỹ gốc Mỹ, sinh ngày 4/7/1961 tại Pittsburgh. Năm 1995, ông đã tạo ra ngôn ngữ lập trình kịch bản JavaScript. Phiên bản đầu tiên của nó được tung ra thị trường chỉ sau 10 ngày.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://cdn.facesofopensource.com/wp-content/uploads/2017/07/23193713/brendaneich25607.web_.jpg" width="200" height="250"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">Người tạo ra Java: James Gosling</h3>
                <p class="mb-auto">Java được khởi đầu bởi James Gosling và bạn đồng nghiệp ở Sun Microsystems năm 1991. James Arthur Gosling sinh ngày 19 tháng 5 năm 1955. Ông là một nhà khoa học máy tính người Canada, được biết đến là người sáng lập và thiết kế chính ngôn ngữ lập trình Java.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://th.bing.com/th/id/R.1d33b399c0c53da85191ac20c71e2cbc?rik=OsHRYmriIkxouQ&riu=http%3a%2f%2fcdn.facesofopensource.com%2fwp-content%2fuploads%2f2019%2f12%2f23003013%2fjamesgosling1617-1web.jpg&ehk=XPaiwfAAwcxiRUaVpolfqOp29SMJ4XCg9vwJynUMS%2fM%3d&risl=&pid=ImgRaw&r=0" width="200" height="250" />
               
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-around" style="margin-top: 3rem">
    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/netcore-4458.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">C# Cơ bản</h5>
            <p class="card-text">Lập trình ứng dụng đa nền tảng .NET CORE 3.0 với C#</p>
            <a href="#" class="btn btn-primary">C# NET CORE</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/androidjava-4455.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lập trình Android (Java)</h5>
            <p class="card-text">Xây dựng ứng dụng Android với ngôn ngữ lập trình Java bằng Android Studio</p>
            <a href="#" class="btn btn-primary">Android - Java</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/html-4465.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">HTML - Cơ bản</h5>
            <p class="card-text">Viết mã HTML tạo các trang web</p>
            <a href="#" class="btn btn-primary">HTML</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/css-4464.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">CSS</h5>
            <p class="card-text">Cascading Style Sheets - định nghĩa kiểu hiện thị cho các phần tử HTML</p>
            <a href="#" class="btn btn-primary">CSS</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/java-4466.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lập trình Java</h5>
            <p class="card-text">Ngôn ngữ lập trình Java cơ bản</p>
            <a href="#" class="btn btn-primary">Java</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://xuanthulab.net/photo/git-4462.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Git &amp; GitHub</h5>
            <p class="card-text">Quản lý phiên bản phân tán với Git và Repository Git thông dụng GitHub</p>
            <a href="#" class="btn btn-primary">Git</a>
        </div>
    </div>







</div>
<hr  class="container"/>


<div class="w3-panel w3-leftbar w3-sand" style="text-align: center">
        <p class="w3-xxlarge w3-serif">
            <i>"Make it as simple as possible, but not simpler."</i>
        </p>
        <p>Albert Einstein</p>
</div>
<hr class="container" />


