
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-single-2 container"style=" text-align:center; margin-top:56px">
    <div class="container">
        <div class="row">
            <div class="middle-content">
                <a href="index.html"><img class="md-logo" src="~\Public\images\logo.png" alt=""></a>
                <img src="~/Public/images/404page.jpeg" alt="" />
                @*<img src="images/uploads/err-img.png" alt="">*@
                <p class="fw-medium" style="margin-top:20px">Không tìm thấy trang này!</p> 
                <a href="@Url.Action("Index","Home")" class="btn btn-outline-warning">Trở về trang chủ</a>
            </div>
        </div>
    </div>
</div>

