@model WebApp.Models.Entities.BaiHoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 ">
                        <strong>Thông báo</strong>
                    </div>
                    <div class="col-6 float-end">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h3>Bạn có chắc muốn xoá bài học này?</h3>
                <div>
                 
                    <dl class="dl-horizontal">
                        <dt>
                            Tên bài học
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenBaiHoc)
                        </dd>

                        <dt>
                            Mã khoá học
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IdKhoaHoc)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Xoá" class="btn btn-default" /> |
                            @Html.ActionLink("Quay lại", "Index")
                        </div>
                    }
                </div>


            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
