@{
    ViewBag.Title = "Chọn phương thức thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="container" style="margin-top:56px">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChonPhuongThucThanhToan</title>
</head>
<body>
    <div class="landing-hero" id="payment-top">
      
        <div class="row landing-hero-text" style="border: black">
            <h2>CHỌN CỔNG THANH TOÁN</h2>
            <h2 class="text-yellow">VNPAY</h2>
        </div>
    </div>
    <div>

    </div>
    <div class="landing-version page-single">
        <div class="container">
            <div class="col-md-6">
                <img src="https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg" style="width: auto; height: 150px; border-radius: 10px" alt="vnpay-logo">
                <br />
                @*<h2>CỔNG THANH TOÁN VNPAY</h2>*@
                @Html.ActionLink("VNPAY", "ThongTinThanhToan", "Payment", htmlAttributes: new { @class = "redbtn", style = "background-color: #0359a7" })
            </div>
        </div>
    </div>
</body>
</html>