@model IEnumerable<WebApp.Models.Entities.BaiHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*              BÀI HỌC                 *@
<body>
    <div class="row">
        <div class="col-3 ">
            <span class="list-group-item p-1 p-lg-1 bg-danger text-light">@ViewBag.NameKhoaHoc</span>

            @foreach (var item in Model)
            {
                    <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning" data-id="@item.IdBaiHoc">@item.TenBaiHoc</a>
            }
        </div>

        <div class="col-9" id="tblListChiTietBaiHoc">
           @* <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@Html.Action("ChiTietBaiHoc", "BaiHoc")</a>*@
        </div>
    </div>
</body>
@section scripts
{
    <script>
        $('.list-group-item-warning').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/BaiHoc/ListChiTietBaiHoc',
                type: 'post',
                data: {
                    idBaiHoc: id.toString()
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.listCTBaiHoc, function (k, v) {
                            $('#tblListChiTietBaiHoc').empty();
                            let a = '';
                            for (let i = 1; i <= 10; i++) {
                                let noidung = v['Noidung' + i];
                                if (noidung) {
                                    a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + noidung + '</a>';
                                }
                            }
                          
                            $('#tblListChiTietBaiHoc').append(a);
                        });
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
            // sử dụng giá trị id ở đây
            console.log(id);
        });
    </script>

}