
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*              BÀI HỌC                 *@
<body>
    <div class="row">
        <div class="col-3" id="tblListBaiHoc">
            <span class="list-group-item p-1 p-lg-1 bg-danger text-light">@ViewBag.NameKhoaHoc</span>

        </div>
        <div class="col-9" id="tblListChiTietBaiHoc">

        </div>
    </div>
</body>

@section scripts
{
    <script>
        $(document).ready(function () {
            LoadListBaiHoc();
            LoadListCTBaiHoc();
        });


        $('#tblListBaiHoc').on('click', 'a', function () {
            var id = $(this).attr('id');
            $.ajax({
                url: '/BaiHoc/ListChiTietBaiHoc',
                type: 'post',
                data: {
                    idBaiHoc: id.toString()
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.listCTBaiHoc, function (k, v) {
                            $('#tblListChiTietBaiHoc').empty();
                            let a = '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung1 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung2 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung3 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung4 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung5 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung6 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung7 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung8 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung9 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung10 + '</a>';
                            $('#tblListChiTietBaiHoc').append(a);
                        });
                    }
                    else {
                        alert(data.msg);
                    }
                }
            })
            // sử dụng giá trị id ở đây
            console.log(id);
        });





        function LoadListBaiHoc() {
            $.ajax({
                url: '/BaiHoc/ListBaiHoc',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.listBaiHoc, function (k, v) {
                            let a = '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning" id="' + v.IdBaiHoc + '">';
                            a += v.TenBaiHoc;
                            a += '</a>'
                            $('#tblListBaiHoc').append(a);
                        });
                    }
                }
            });
        }

        function LoadListCTBaiHoc() {
            $.ajax({
                url: '/BaiHoc/ListChiTietBaiHoc',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.listCTBaiHoc, function (k, v) {
                            let a = '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung1 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung2 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung3 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung4 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung5 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung6 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung7 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung8 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung9 + '</a>';
                            a += ' <pre></pre>';
                            a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + v.Noidung10 + '</a>';
                            $('#tblListChiTietBaiHoc').append(a);
                        });
                    }
                }
            });
        }
    </script>

}

