@model IEnumerable<WebApp.Models.Entities.BaiHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Public/css/_CustomChiTiet.css" rel="stylesheet" />

@*<div class="list-group row rounded-0 list-group-flush small"><span class="list-group-item p-0 pl-1  disabled font30 bg-danger text-light">Lập trình Android - Java</span> <a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/cai-dat-android-studio-may-ao-android-tao-du-an-ung-dung-dau-tien.html"> § 1 Android Studio - Ứng dụng đầu tiên</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/cac-thanh-phan-cua-mot-ung-dung-android.html"> § 2 Thành phần ứng dụng</a><a class="list-group-item p-1  list-group-item-danger" href="/tim-hieu-ve-activity-va-vong-doi-activity.html"> § 3  Vòng đời Activity</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/co-ban-ve-cach-tao-va-su-dung-activity-trong-android.html"> § 4 Activity cơ bản</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/luu-va-phuc-hoi-trang-thai-cua-activity-trong-android.html"> § 5 Lưu và phục hồi trạng thái</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/hieu-ve-view-viewgroup-layout-trong-android.html"> § 6 View, ViewGroup, Layout</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/textview-trong-lap-trinh-android-hien-thi-text-html-spannablestring.html"> § 7 TextView</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/button-trong-android.html"> § 8 Button</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-checkbox-trong-lap-trinh-android.html"> § 9 CheckBox</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-switch-switchcompat-trong-android.html"> § 10 Switch / SwitchCompat</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/togglebutton-trong-lap-trinh-android.html"> § 11 ToggleButton</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/radiobutton-va-radiogroup-trong-lap-trinh-android.html"> § 12 RadioButton</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/hien-thi-thong-tin-ngay-thang-voi-textclock-trong-android.html"> § 13 TextClock</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-edittext-nhap-du-lieu-trong-lap-trinh-android.html"> § 14 EditText</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/imageview-va-imagebutton-trong-android.html"> § 15 ImageView / ImageButton</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-framelayout-trong-lap-trinh-android.html"> § 16 FrameLayout</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-linearlayout-trong-android.html"> § 17 LinearLayout</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-listview-hien-thi-du-lieu-dang-danh-sach-trong-android.html"> § 18 ListView</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-constraintlayout-trong-android.html"> § 19 ConstraintLayout</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/tablelayout-va-tablerow-trong-lap-trinh-android.html"> § 20 TableLayout</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-relativelayout-trong-android.html"> § 21 RelativeLayout</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/tai-nguyen-drawable-1-su-dung-shape-xml-trong-android.html"> § 22 Drawable - shape</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/tai-nguyen-drawable-2-su-dung-bitmapdrawable-trong-android.html"> § 23 BitmapDrawable</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/tai-nguyen-drawable-3-anh-vectordrawable-trong-android.html"> § 24 VectorDrawable</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/tai-nguyen-drawable-4-anh-ninepatchdrawable-trong-android.html"> § 25 NinePatchDrawable</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/tai-nguyen-drawable-5-anh-layerdrawable-trong-android.html"> § 26 LayerDrawable</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/tai-nguyen-drawable-6-anh-statelistdrawable-trong-android.html"> § 27 StateListDrawable</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/toolbar-actionbar-trong-lap-trinh-android.html"> § 28 ActionBar - Toolbar</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-snackbar-trong-lap-trinh-android.html"> § 29 Snackbar</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-floating-action-button-fab.html"> § 30 FAB - FloatingActionButton</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-recyclerview-trong-lap-trinh-android.html"> § 31 RecylerView</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/coordinatorlayout-1-xay-dung-bo-cuc-behavior-va-nested-scroll.html"> § 32 CoordinatorLayout 1</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/coordinatorlayout-2-ung-dung-mot-so-loai-view.html"> § 33 CoordinatorLayout 2</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-broadcast-intent-broadcastreceiver-trong-android.html"> § 34 Broadcast Intent</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/thuoc-tinh-style-trong-cac-view-lap-trinh-android.html"> § 35 Theme Android (1)</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/tao-va-su-dung-theme-trong-lap-trinh-android.html"> § 36 Theme Android (2)</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/su-dung-sqlite-trong-android-phan-1.html"> § 37 SQlite (1)</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/sqlite-trong-android-phan-2-su-dung-sqliteopenhelper.html"> § 38 SQlite (2)</a><a class="list-group-item p-1 pl-1  list-group-item-action list-group-item-warning" href="/xac-dinh-trang-thai-xoay-man-hinh-trong-android.html"> § 39 Màn hình Ngang - Dọc</a></div>
*@
@*              BÀI HỌC                 *@

    <body style="margin-top:68px">
        <div class="row">
            <div class="col-3 ">
                <span class="list-group-item p-0 pl-1  disabled font30 bg-danger text-light">@ViewBag.NameKhoaHoc</span>
                @if (Model != null)
                {

                    foreach (var item in Model)
                    {
                        <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning" data-id="@item.IdBaiHoc">@item.TenBaiHoc</a>
                    }
                }

            </div>

            <div class="col-8" id="tblListChiTietBaiHoc" style="margin-top:35px">
                @* <a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">@Html.Action("ChiTietBaiHoc", "BaiHoc")</a>*@
            </div>
            <div class="col-1"></div>
        </div>
    </body>


@section scripts
{
    <script>
        $('.list-group-item-warning').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/BaiHoc/ListChiTietBaiHoc',
                type: 'post',
                data: {
                    idBaiHoc: id.toString()
                },
                success: function (data) {
                    if (data.code == 200) {
                        $.each(data.listCTBaiHoc, function (k, v) {
                            $('#tblListChiTietBaiHoc').empty();
                            let a = '';
                            for (let i = 1; i <= 10; i++) {
                                let noidung = v['Noidung' + i];
                                if (noidung) {
                                    a += '<a class="list-group-item p-1 p-lg-1 list-group-item-action list-group-item-warning">' + noidung + '</a>';
                                }
                            }
                          
                            $('#tblListChiTietBaiHoc').append(a);
                        });
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
          
        });
    </script>

}